.App {
  text-align: center;
  color: #000000;
}
.avatar {
  height: 120px;
  width: 120px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.App-logo,
.dino {
  height: 30vmin;
  pointer-events: none;
  margin: 2em;
}
.form-group label {
  text-align: left;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
/* src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal; */
/* font-size: 24px; Preferred icon size */
/* display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */

/* Support for all WebKit browsers. */
/* -webkit-font-smoothing: antialiased; */
/* Support for Safari and Chrome. */
/* text-rendering: optimizeLegibility; */

/* Support for Firefox. */
/* -moz-osx-font-smoothing: grayscale; */

/* Support for IE. */
/* font-feature-settings: "liga"; */
/* } */
.material-icons {
  cursor: pointer;
}
.notification-badge i {
  font-size: 3em;
}
.notification-badge .badge {
  margin-top: 0em;
  margin-left: -1.5em;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #0512c2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
